<div>
  <label for="name">
    Name
  </label>
  <br>
  <input  id="name" type="text" formControlName="name">
</div>
<div>
  <label for="description">
    Description
  </label>
  <br>
  <input  id="description" type="text" formControlName="description">
</div>

<div>
  <label for="status">v
    Status
  </label>
  <br>
  <input  id="status" type="status" formControlName="status">
</div>

<button (click)="this.create()" type="button" class="btn btn-primary" id="buttonCreate">Create</button>


<ag-grid-angular
  style="width: 100%; height: 500px;"
  class="ag-theme-alpine"
  [rowData]="rowData"
  [columnDefs]="columnDefs"
  (cellValueChanged)="onCellValueChanged($event)"
>
</ag-grid-angular>

