<div class="alert alert-primary" role="alert">
  informations
</div>

<ul>
  <li *ngIf="task && task.name">Name:  {{ task.name }}</li>
  <li *ngIf="task && task.description">Description:  {{ task.description }}</li>
  <li *ngIf="task && task.status">Status:  {{ task.status }}</li>
  <li *ngIf="task && task.user_gmg_id">User id:  {{ task?.user_gmg_id }}</li>
</ul>

<div>
  <hr>
  <button  type="button" class="btn btn-danger" (click)="remove()">Remove Task</button>
</div>

