<div class="alert alert-primary" role="alert">
  informations
</div>

<ul>
  <li *ngIf="user && user.name">Name:  {{ user.name }}</li>
  <li *ngIf="user && user.first_name">First name:  {{ user.first_name }}</li>
  <li *ngIf="user && user.email">Email:  {{ user.email }}</li>
</ul>

<div>
  <hr>
  <button  type="button" class="btn btn-danger" (click)="remove()">Remove User</button>
</div>

<div class="alert alert-primary" role="alert" style="margin-top: 10px;">
  Tasks
</div>


<ul>
  <div  *ngIf="user && user.tasks">
    <div class="alert alert-success" role="alert"   *ngFor="let task of user.tasks ">
    <h4 class="alert-heading">{{ task.name }}</h4>
    <hr>
    <p class="mb-0">{{ task.description }}</p>
    <p class="mb-0">Status : <strong>{{ task.status }}</strong></p>
  </div>
  </div>
</ul>

