<div>
  <label for="name">
    Name
  </label>
  <br>
  <input  id="name" type="text" formControlName="name">
</div>
<div>
  <label for="firstname">
    First name
  </label>
  <br>
  <input  id="first_name" type="text" formControlName="firstname">
</div>

<div>
  <label for="email">
    Email
  </label>
  <br>
  <input  id="email" type="status" formControlName="email">
</div>

<button (click)="this.create()" type="button" class="btn btn-primary" id="buttonCreate">Create</button>



<ag-grid-angular
  style="width: 100%; height: 500px;"
  class="ag-theme-alpine"
  [rowData]="rowData"
  [columnDefs]="columnDefs"
  (cellValueChanged)="onCellValueChanged($event)"
>
</ag-grid-angular>
